
server:
  port: 9000
spring:
  application:
    name: account-service
  datasource:
    driverClassName: org.h2.Driver
    password: ''
    url: jdbc:h2:file:./db/thedatabase
    username: admin
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      enabled: true